@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

body {
  font-family: 'Albert Sans', sans-serif;
  background-color: #FFFFFF;
  color: #334155;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove scrollbars */
}

main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.blog-title h1 {
  font-size: 28px;
  font-weight: 700;
  color: #0F172A;
  text-align: left;
  margin-bottom: 40px;
}

.about p {
  font-size: 15px;
  color: #334155;
  margin-bottom: 20px;
  text-align: justify;
}

a {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  box-sizing: border-box;
}

a:hover {
  color: white;
  background-color: #2563EB;
  text-decoration: none;
  padding: 0 5px;
  border-radius: 0;
}
